/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #143048;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #CFE2F3;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    min-height: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
button {
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background-color: #143048;
    color: #CFE2F3;
    cursor: pointer;
}

.close-button{
    background-color: rgb(14, 141, 135);
    width: 180px;
    margin-top: 5%;
}

footer {
    background-color: #143048;
    color: #CFE2F3;
    text-align: center;
    padding: 10px; 
    bottom: 0;
    width: 100%;
    text-decoration: none;
}